@import (reference) "@/styles/variables";

.popup {
  position: absolute;
  background-color: @popup-bg;
  border-radius: @radius-m;
  box-shadow: @popup-shadow;
  z-index: @popup-z-index;
}

.content {
  width: @container-full;
}