@import (reference) "@/styles/variables.less";

.app {
  height: @full-screen-h;
  width: @full-screen-w;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: @container-full;
  max-width: @app-container-max-w;
  padding: @app-container-pad;
}